body {
  color: white;
}
.card {
  display: flex;


  width: 170.43px;
  height: 252.6px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 8px;
  background: #181818;
}

.card p{
  color: grey;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
